body{text-align: center;
    background-image: linear-gradient(to right, rgba(255,255,255, 0.5) 0 100%), url("../img/fondo.jpg");
    background-size: cover;
}

h1{font-size: 60px;
background-color: blanchedalmond;}

img{width: 800px;
height: 500px;}

p{color: rgb(113, 28, 28);
font-style: italic;
font-size: large;
background-color: whitesmoke;
border: solid 1px black;
}

.titulos{text-decoration: underline;}

.listas {
	text-align: center;
}

.listas ul,
.listas ol {
	text-align: left;
	display: inline-block;
}

#origen{text-align: justify;}




