body {
	margin-top: 0%;
	padding-top: 0%;
	text-align: center;
	background-color: antiquewhite;
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5) 0 100%), url(../img/fondo.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

header {
	background-color: blanchedalmond;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	/* position: fixed; */
	flex-wrap: nowrap;
	align-items: center;
	height: 20vh;
}


.logo img {
	width: 30%;
	height: 30%;
}

.redes {
	width: 30%;
	background-color: gray;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 5%;
	padding: 1%;
}

.redes img {
	width: 40%;
	height: 40%;
}

nav {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 3% 20% 3% 20%;
	border: solid black;
	border-radius: 5%;
	padding: 1%;
}

nav a {
	text-decoration: none;
	font-size: 1em;
	color: black;
}

nav a:hover {
	color: brown;
}

h1 {
	font-size: 3vw;
	font-family: 'Fuzzy Bubbles', cursive;
	background-color: blanchedalmond;
}

img {
	width: 50vw;
}

.titulos {
	width: 100%;
	text-decoration: underline;
}

.listas {
	text-align: center;
}

.listas ul,
.listas ol {
	text-align: left;
	display: inline-block;
}

#origen {
	text-align: justify;
	padding: 2%;
}

main {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 3%;
}

.section1 {
	width: 60%;
}

aside {
	width: 40%;
}

.section2 {}


iframe {
	height: 20%;
}

footer {
	background-color: rgb(120, 186, 120);
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
}

#flotante {
	position: fixed;
	margin-left: 92%;
	padding: 1%;
	bottom: 1%;
}

@font-face {
	font-family: "Arabella";
	src: url("../fuentes/Arabella.ttf");
	format('truetype'); 
}


p {
	color: rgb(113, 28, 28);
	font-family: "Arabella";
	font-size: 1.5em;
	font-style: italic;
	background-color: whitesmoke;
	border: solid 0.1em black;
}

footer p {
	width: 36.4%;
}


#flotante img {
	width: 70%;
	height: 70%;
}